/*Global*/
:root {
    --blanco: #ffffff;
    --negro: #212121;
    --primario: #ffc107;
    --secundario: #0097A7;
    --gris: #757575
}

/*Con el tamaño establecido de font-size de html y body podemos trabajar con los rem*/

html {
    font-size: 62.5%;
    box-sizing: border-box; /*Hack para box-model*/
    scroll-snap-type: y mandatory; /*Efecto de scroll en el eje y*/
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px; /* 1 rem = 10px*/
    font-family: 'Lato', sans-serif;
    /*background-color: cornflowerblue;*/
    background-image: linear-gradient(to top, #d28512e3 0%, var(--blanco) 95%); /*Primero se le pasa hacia donde va el degradado, despues se le pasa cual va a ser el primer
                                                    color, despues le decimos hacia que color va a ir*/
    /* Si queremos que el degradado vaya hacia abajo:
    background-image: linear-gradient(to bottom, #dfe9f3a3 0%, var(--blanco) 100%);*/                                                
}



/*Utilidades*/
.no-margin {
    margin: 0;
}

.eslogan {
    padding-bottom: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

/*Tipografia*/
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1, h2, h3 {
    text-align: center;
}

.header {
    background-image: url(../images/logotipo.png);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}


@media (min-width: 768px) {
    .header__texto {
        margin-top: 15rem;
    }
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }    
}

.logo {
    color: var(--blanco);
}

.logo__nombre {
    font-weight: 400;
    font-size: 2rem;
}

.logo__bold {
    font-weight: 700;
    font-size: 5rem;
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

.inputBuscador {
    border-radius: 2rem;
    font-family: cursive;
    padding-inline-start: 1rem;
    padding: 1rem;
    font-size: large;
    width: 40rem;
}

.fa-solid {
    font-size: xx-large;
}

.iconoBuscar {
    color: var(--blanco);
}

.pais ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pais ul a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--blanco);
    padding: 12px 20px;
    display: block;
}

a:hover {
    background-color: black;
}

.pais ul li ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    display: none;
}

.pais ul li ul li {
    width: 18rem;
    position: relative;
}

.pais ul li:hover > ul {
    display: block;
}

.country {
    cursor: pointer;
}

.contenedor {
    max-width: 95vw;
    margin: 2rem auto;
    height: 40rem;
}

.sombra {
    /*Sacado de CSS matic*/
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 2rem;
}

.texto-intermedio {
    margin-top: 1rem;
}

.canales {
    max-width: 95vw;
    margin: 2rem auto;
    height: 50rem;
}

.ajuste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
    height: 45rem;
}


.carousel {
    width: 90%;
    margin: 2rem 0px;
}

@media (min-width: 768px) {
    .carousel{
        margin: 0px 60px;
    }
}

/*
.carousel h2 {
    font-size: 45px;
    line-height: 38px;
    padding-bottom: 50px;
    opacity: .9;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #212121;
} */

.carrusel-list {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 2rem auto;
    max-width: 80vw;
    overflow: hidden;
}

.carrusel-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.carrusel {
    position: relative;
    width: 210px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

.carrusel h4 {
    position: absolute;
    z-index: 1;
    font-size: 2.2rem;
    line-height: 2.3rem;
    color: #212121;
    padding: 1.5rem;
}

.carrusel h4 small {
    font-size: 1.5rem;
    display: block;
}

.carrusel a img {
    object-fit: cover;
    height: 30rem;
    width: 20rem;
    border-radius: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
}

@media (min-width: 768px) {
    .carrusel {
        width: 275px;
    }
    .carrusel a img {
        width: 250px;
    }
}

.carrusel-arrow {
    border-radius: 3rem;
    background-color: var(--negro);
    position: absolute;
    z-index: 4;
    width: 4.8rem;
    height: 4.8rem;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.carrusel-arrow:focus {
    outline: 0;
}

.carrusel-arrow svg {
    width: 12px;
    height: 100%;
    color: rgba(255, 255, 255, .7);
}

.carrusel-prev {
    left: 0px;
}

.carrusel-next {
    right: 0px;
}

/*Template*/
.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 0.375rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    margin: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--secundario);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: 2rem;
}

.category-name {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: small;
}